// global setting
$global-zh-title-font-family:'Microsoft Yahei';
$global-zh-light-title-font-family:'Microsoft Yahei light';
// header setting


// footer setting
$footer-bgcolor:#2f3440;
$footer-color:#fff;

// main setting


// aside setting


// main-right setting


// nav setting


